@font-face {
  font-family: "Poppins";
  src: url("/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body,
:root,
#root,
.root {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  height: 100%;
}

button,
input {
  font-family: "Poppins";
}

.container {
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.top_bar {
  display: flex;
  flex-direction: column;
}

.username_bar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.username_bar_feed {
  background-color: #d2042d;
}

.username_bar_messages {
  background-color: #a45953;
}

.tabs_bar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f88379;
  z-index: 5;
}

.tabs_bar button {
  height: 100%;
  border: none;
  width: 100px;
  border-radius: 0 0 40% 40%;
  transition: transform 0.3s ease-in-out;
}

.tab_bar {
}

.feedActive {
  background-color: #d2042d;
  box-shadow: 5px 5px 15px #a00223;
  z-index: 1;
  transform: translateY(0);
}

.feedInactive {
  background-color: #a00223;
  transform: translateY(-15px);
  z-index: 0;
}

.messagesActive {
  background-color: #a45953;
  box-shadow: -5px 5px 15px #803f3a;
  z-index: 1;
  transform: translateY(0);
}

.messagesInactive {
  background-color: #803f3a;
  transform: translateY(-15px);
  z-index: 0;
}

.main_container {
  background-color: #f88379;
  z-index: -1;
}

.feed_container {
}

.messages_container {
}
