@font-face {
  font-family: "Poppins";
  src: url("/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body,
:root,
#root,
.root {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  height: 100%;
}

button,
input {
  font-family: "Poppins";
}

.container {
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.top_bar {
  display: flex;
  flex-direction: column;
}

.username_bar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2042d;
}

.tabs_bar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab_bar {
}

.feedActive {
}

.feedInactive {
}

.messagesActive {
}

.messagesInactive {
}

.main_container {
}

.feed_container {
}

.messages_container {
}
